html {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(Images/flower-2336287.jpg);
    background-size: cover;
    position:fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login {
    display:flex;
    flex-flow: column;
    justify-content: space-evenly;
    background-color: rgb(245, 245, 245, 0.6);
    height: 400px;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px -10px black;
}

h1, .form, form button {
    padding: 10px;
}

form {
    display: flex;
    flex-flow: column;
}

#button {
    border-radius: 10px;
    background: white;
    color: black;
    border: none;
    box-shadow: 0 0 15px -10px black;
    text-decoration: none;
    text-align: center;
}

button:hover {
    color: #f8aa9b;
}